.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font-family: 'Roboto';
}

.planets-heading {
  font-size: 60px;
  color: #05acff;
}

.slider-container {
  padding: 40px;
  max-width: 1110px;
}
